table {
  width: 100%;
}
.mat-column-position {
  width: 20%;
}

.mat-column-name {
  margin-top: none;
  scroll-margin-left: 1em;
  
}

.mat-column-symbol {
  width: 10%;
}

td.footer {
  font-style: italic;
  text-align: center;
}
